DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=*
CORS_ALLOW_ALL_ORIGINS=true

POSTGRES_DB=shopshare
POSTGRES_USER=shopuser
POSTGRES_PASSWORD=shoppassword
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
